.scroll-area {
  max-height: 100vh;
  overflow-y: scroll;
  position: relative;
}
.secondPager {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-color: lightsalmon;
  padding-left: 10px;
  padding-right: 10px;
}

.firstPager {
  background-color: lightskyblue;
  padding-left: 10px;
  padding-right: 10px;
}
